{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - book_title: The book title if the page is part of a book.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
{% if book_title %}
  <div class="h3" id="wb-cont-nav">{{ book_title }}</div>
{% endif %}

{% if title %}
    <h1{{ title_attributes }} id="wb-cont">{{ title }}</h1>
{% endif %}
