# Drupal
test-results
scripts/local
scripts/drupal
files_private/
html/sites/tcwww.dd
html/sites/default/files
tcwww/html/sites/default/settings.php
tcwww/html/sites/default/files/
tcwww/config/
storage/
tcwww/html/sites/default/files
tcwww/config

# VS Code
*.code-workspace

# Ignore Development Files
compass_app_log.txt
*.DS_Store
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache

# Node
node_modules/
bower_components/

# PhpStorm
.idea

# SASS
.sass-cache
*.sass-cache*
**/sass/*.css
