/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/* Fix arrows escaping the select field */
.field--type-webform form .form-type-select label{
    display: block;
}
.field--type-webform form .form-type-select .select-wrapper{
    width: auto;
}

/* Margin on GC Byline */
p.gc-byline{
    margin-bottom: 25px;
}

.search-result {
    border-bottom: solid 1px #000;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}

//Fix search box text
.select-wrapper select {
    line-height: 0.5;
}

.field--name-field-inst-featured-link > a{
    border: 1px solid transparent;
    border-style: outset;
    line-height: 1.4375;
    border-radius: 4px;
    color: #fff;
    background-color: #318000;
    border-color: #458259;
    font-size: 1.1em;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: .58em 1em;
    text-shadow: 1px 2px #333;
    text-decoration: none;
    height: auto;
    min-height: 36px;
    min-width: 36px;
    white-space: normal;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
}
.field--name-field-inst-featured-link > a:hover{
    background-color: #1d4d00;
    border-color: #305a3e;
}
.field--name-field-inst-featured-link > a:visited{
    color: #fff;
}
.home-news-feed{
    list-style: none;
    padding-left: 0;
}
body.home > div.dialog-off-canvas-main-canvas > div > div > main > section > div.region.region-content > article > div.content > div:nth-child(1)::after{
    content: "";
    background-image: url(/themes/custom/op_wxt/images/home_page_banner.jpg);
    background-repeat: no-repeat;
    width: 110%;
    height: 410px;
    position: absolute;
    top: -35px;
    z-index: -1;
}

.toc li .list-group-item.is-active, .toc li .list-group-item.active:focus, .toc li .list-group-item.active:hover {
    background-color: #335075;
    color: #fff;
    cursor: auto;
    text-decoration: none;
    z-index: 2;
}

//Fix facets
ul.js-facets-widget {
    list-style-type:none;
}

.js-facets-widget li.list-group-item {
  border: none;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

h1#wb-cont {
  margin-top: 2px;
}
#wb-cont-nav {
  color: #555;
  font-size: 26px;
  font-weight: 200;
  margin-bottom: -5px;
  padding-bottom: 10px;
}
div.tocify ul.tocify-header{
  list-style: disc;
  padding: unset;
  padding-left: 1.5em;
}
div.tocify ul.tocify-header li{
  list-style: disc;
  padding: unset;
  display: list-item;
}
div.tocify ul.tocify-header li a{
  text-decoration: underline;
  color: #284162;
}
div.tocify ul.tocify-header li a:visited{
  color: #7834bc;
}
div.tocify ul.tocify-header li::marker{
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

